body {
    overflow-x: hidden;
    font-family: "Poppins", sans-serif;
}


/* slider  */

.carousel-item::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0.6;
}
.bg-working-section {
    background: #F4FAFD;
}
/* responsiveness  */
@media (max-width: 576px) {
    .carousel-item{
        height: 250px;
    }
    .carousel-img{
        height: 40vh;
    }
    .carousel-caption h5 {
    padding-top: 20px;
    font-size: small;
}

}